/* this is for media query part  */
@media only screen and (max-width: 767px) {
  /* CSS rules for phone resolutions */
  body {
    font-size: 14px;
  }


  .selectFolder {
    padding: 15px 2px;
    border-radius: 21px;
    font-size: 25px;
    width: 434px;
    border: 2px dotted;
    /* margin: 2px -21px; */
    justify-content: center;
}

  .container {
    width: 100%;
  }

  /* ... additional CSS rules ... */
}



/* this is for side bar page back button   */
#backButton{
    margin: 16px 19px;
}

#backButton button{
    padding: 4px 13px;
    font-size: 15px;
    border-radius: 10px;
}

/* this is for select folder part  */
#selectFolder{
    margin: 77px 20px;
    padding: 4px 55px;
    border: 6px double;
}

#fileList{
    /* border: 2px solid black; */
    width: 337px;
    /* margin: 33px 260px; */
}


.selected-file{
    border: 2px solid;
    padding: 7px 61px;
    border-radius: 13px;
    width: 434px;
    /* margin: 16px 200px; */
}



.custom-checkbox {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  /* margin-right: 8px; */
  /* border: 2px solid #007bff; */
  border-radius: 4px;
  height: 23px;
  width: 20px;
  transform: rotate(91deg);
  appearance: none;
  outline: none;
  border-radius: 50%;
  background-color: white;
  }

  .custom-checkbox:checked {
    background-color: green; /* Change to your desired color */
  }

  .custom-checkbox input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
  }

  .custom-checkbox input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border: 2px solid #007bff;
    border-radius: 2px;
    background-color: transparent;
  }

  .custom-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
  }

  .custom-label {
    display: inline-block;
    padding: 8px;
    margin-right: 8px;
    /* background-color: #f2f2f2;
    border: 1px solid #ccc; */
    border-radius: 4px;
    margin: 2px 15px;
    color: white;
  }


  .selectFolder{
    padding: 15px 2px;
    border-radius: 100px;
    font-size: 25px;
    width: 434px;
    /* border: 2px dotted; */
    /* margin: 2px 84px; */
  }

  .selectDropDown{
    width: 434px;
  }